#root {
  max-width: 1280px;
  margin: 0 auto;
  overflow-y: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #ffffff;
  background: linear-gradient(160deg, rgba(9,9,9,1) 0%, rgba(17,17,17,1) 40%, rgba(34,34,34,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

/* SignIn */
.signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100svh;
  text-align: center;
  border-radius: 5px;
  padding: 1em;
}

.signIn--logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signIn--logo-img {
  width: 80px;
}

.signIn--logo-txt {
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
}

.signIn--h1 {
  font-size: 2rem;
}

.signIn--h2 {
  font-size: 1.5rem;
  font-weight: 400;
}

.signIn--p {
  text-align: left;
  margin: 0.5em 0 2em;
}

.signIn--box {
  background: #222;
  border-radius: 4px;
  user-select: none;
  cursor: pointer;
}

.signIn--box:hover {
  background: #111;
}

.signIn--input {
  font-size: 1.2em;
  color: #fff;
  width: 100%;
  height: 32px;
  border: none;
  background: none;
  border-bottom: 1px solid #999;
  outline: none;
}

/* Header */
.header {
  position: fixed;
  top: 0;
  width: 100svw;
  padding: 0.5em 1em;
  background: rgb(99,213,60);
  background: linear-gradient(270deg, rgba(99,213,60,1) 0%, rgba(192,244,55,1) 100%);
  box-shadow: 0 0 5px rgba(0, 30, 50, 0.5);
}

.header--logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.header--logo-img {
  width: 40px;
  height: 40px;
}

.header--logo-txt {
  color: #111111;
  font-size: 1.6em;
  font-weight: 800;
  line-height: 1;
}

main {
  padding: 4rem 1rem 8rem 1rem;
}

/* navBar */
.navBar {
  color: #fff;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100svw;
  background: #111;
  border-top: 1px solid #333;
  padding: 0.5em 0;
}

.navBar--ul {
  margin: 0;
  width: 100%;
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

.navBar--icon {
  font-size: 1.2em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  color: #111;
  background-color: #666;
}

.navBar--li a {
  color: #666;
}

.navBar--li:hover a {
  color: #90e43a;
}

.navBar--li:hover .navBar--icon {
  background-color: #90e43a;
}

.navBar a {
  font-size: 0.9em;
}

/* Exercises */
.exercise--title-wrapper {
  border-bottom: 1px solid #333;
  cursor: pointer;
  user-select: none;
}

.exercise--title {
  margin: 0.2em 0;
}

.exercise--caret {
  color: #999999;
  margin-left: 0.5em;
}

.exercise--imgs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exercise--img {
  width: 70%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.exercise--illustration {
  width: 20%;
}

a {
  font-weight: 500;
  color: #64d2ff;
  text-decoration: inherit;
}
a:hover {
  color: #79e0ff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  color: #bbb;
}

/* Buttons */

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  font-size: 1em;
  font-weight: 600;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.btn-primary {
  color: #333;
  background: rgb(99,213,60);
  background: linear-gradient(270deg, rgba(99,213,60,1) 0%, rgba(192,244,55,1) 100%);
  
}

.btn-secondary {
  color: #90e43a;
  background-color: #333;
}

.btn-icon {
  margin-left: 0.5em;
  display: none;
}

.btn:hover .btn-icon{
  display: inline-block;
}


/* Utility */
.grid-2-col {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.bold {
  font-weight: 600;
}

.white {
  color: #ffffff;
}

.search-bar {
  width: 80svw;
  height: 32px;
  background: #111;
  border: 1px solid #444;
  border-radius: 16px;
}