#root {
  max-width: 1280px;
  margin: 0 auto;
  overflow-y: hidden;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #ffffff;
  background: linear-gradient(160deg, rgba(9,9,9,1) 0%, rgba(17,17,17,1) 40%, rgba(34,34,34,1) 100%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* SignIn */
.signIn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100svh;
  width: 100svw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
  padding-inline: 1em;
  background: #000;
}

.signIn--logo-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.signIn--logo-img {
  width: 80px;
}

.signIn--logo-txt {
  color: #fff;
  font-size: 3em;
  font-weight: 700;
  line-height: 1;
}

.signIn--card {
  max-width: 500px;
  margin-inline: auto;
  background: #111;
  padding: 1em 2em;
  margin-top: 1em;
  border-radius: 20px;
}

.signIn--h1 {
  font-size: 2rem;
}

.signIn--h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 0;
}

.signIn--p {
  color: #999;
  text-align: left;
  margin: 0.5em 0 2em;
}

.signIn--input {
  font-size: 1.2em;
  color: #fff;
  width: 100%;
  height: 32px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid #fff;
}

/* loading */
.loading {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Header */
.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  width: 100svw;
  padding: 0.5em 1em;
  background: rgb(99,213,60);
  background: linear-gradient(270deg, rgba(99,213,60,1) 0%, rgba(192,244,55,1) 100%);
  box-shadow: 0 0 5px rgba(0, 30, 50, 0.5);
}

.header--logo-wrapper {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.header--logo-img {
  width: 40px;
  height: 40px;
}

.header--logo-txt {
  color: #111111;
  font-size: 1.6em;
  font-weight: 800;
  line-height: 1;
}

main {
  padding: 4rem 1rem 8rem 1rem;
}

/* navBar */
.navBar {
  color: #fff;
  padding: 0;
  position: fixed;
  bottom: 0;
  width: 100svw;
  background: #111;
  border-top: 1px solid #333;
  padding: 0.5em 0;
}

.navBar--ul {
  margin: 0;
  width: 100%;
  display: flex;
  padding: 0;
  list-style-type: none;
  justify-content: space-evenly;
}

.navBar--icon {
  font-size: 1.2em;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  color: #111;
  background-color: #666;
}

.navBar--li a {
  color: #666;
}

.navBar--li:hover a {
  color: #90e43a;
}

.navBar--li:hover .navBar--icon {
  background-color: #90e43a;
}

.navBar a {
  font-size: 0.9em;
}

/* Exercises */
.exercises--heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0 0.5em;
}

.exercises--heading-wrapper h2 {
  margin: 0;
}

.exercise--title-wrapper {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #333;
  cursor: pointer;
  user-select: none;
  padding: 0.2em 0;
}

.exercise--title-wrapper:hover {
  background: #222;
}

.exercise--title {
  line-height: 1;
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
}

.exercise--title-img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  margin-right: 0.5em;
}

.exercise--title-p {
  margin: 0;
  font-size: 0.8rem;
}

.new-exercise-modal {
  display: flex;
  flex-direction: column;
  color: #fafafa;
  background-color: #222;
  padding: 2em 1em;
  border-radius: 10px;
  user-select: none;
  margin-bottom: 0.5em;
}

.new-exercise-modal h3 {
  line-height: 1;
  margin: 0 0 1em;
}

.new-exercise-modal label {
  display: block;
}

.new-exercise-modal input {
  color: #fafafa;
  background: #111;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
}

.new-exercise-modal select {
  width: 100%;
  color: #fafafa;
  background: #111;
  padding: 0.5em;
  margin-bottom: 1em;
}

/* Fieldset */
.new-exercise-modal details {
  width: 100%;
  border-radius: 3px;
  display: inline-flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.new-exercise-modal details form {
  color: #fafafa;
  background: #111;
  padding: 0.5em;
}

.new-exercise-modal details summary {
  background: none;
}

.new-exercise-modal details summary::marker {
  display: none;
  font-size: 0;
}

.new-exercise-modal details summary::-webkit-details-marker {
  display: none;
  font-size: 0;
}

.new-exercise-modal details summary::after {
  content: "\25BC";
  display: inline-block;
  font-size: 0.6rem;
  height: 1rem;
  line-height: 1rem;
  margin-left: 0.4rem;
  position: relative;
  transition: transform 0.25s;
}

.new-exercise-modal details[open] summary::after {
  top: -0.15rem;
  transform: rotate(180deg);
}

.new-exercise-modal fieldset {
  border: 0;
  padding: 0;
}

.new-exercise-modal fieldset legend {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  padding: 0 !important;
  margin: -1px !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  white-space: nowrap !important;
  border: 0 !important;
}

.new-exercise-modal ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 2em;
  list-style: none;
  margin: 0;
  padding: 0;
}

.new-exercise-modal ul li {
  display: grid;
  grid-template-columns: 80% 20%;
  border-radius: 3px;
  margin: 0;
  padding: 4px 2px;
  cursor: pointer;
}

.new-exercise-modal ul li:hover {
  background: #222;
}

.new-exercise-modal ul li label {
  display: inline-block;
  width: 100%;
}
/* */

.exercise--caret {
  color: #999999;
  margin-left: 0.5em;
}

.exercise--imgs {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.exercise--img {
  width: 70%;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.exercise--illustration {
  width: 20%;
}

/* Search */
.exercises--input-wrapper {
  height: 2rem;
  display: flex;
  align-items: center;
  color: #fafafa;
  background: #111;
  padding-inline: 0.5em;
  border: 1px solid #555;
  border-radius: 1rem;
  user-select: none;
  margin-bottom: 0.5em;
}

.exercises--input-icon {
  color: #555;
}

.exercises--input {
  height: 100%;
  color: #fafafa;
  background: none;
  border: none;
  outline: none;
}

/* Workouts */
.workouts--heading-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin: 1em 0 0.5em;
}

.workout-card {
  border: 1px solid #555;
  border-radius: 10px;
  padding: 0.5em 1em;
  margin-bottom: 0.5em;
}

.workout-card--category {
  margin-bottom: 1em;
}

.workout-card--exercises-ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 1em; 
}

.workout-card--exercise-li {
  color: #999;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #555;
}

/* Profile */
.profile--heading {
  margin: 1em 0 0.5em;
}

.profile--user-wrapper {
  display: flex;
  margin-bottom: 1em; 
}

.profile--user-img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 30px;
  margin-right: 1em;
}

/* Add PR Modal */
.add-pr-modal {
  padding: 0.5em 1em;
  border: 1px solid #555;
  border-radius: 10px;
  margin-block: 1em;
  position: relative;
}

/* */

a {
  font-weight: 500;
  color: #64d2ff;
  text-decoration: inherit;
}
a:hover {
  color: #79e0ff;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  color: #bbb;
}

/* Inputs */
input {
  width: 100%;
  padding-inline: 0.4em;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Buttons */
button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
  font-size: 1em;
  font-weight: 600;
  border: none;
  width: 100%;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 0.5em;
}

.btn-txt:hover {
  cursor: pointer;
  text-decoration: underline;
}

.btn-txt {
  font-weight: 700;
  color: #90e43a;
  background: none;
  border: none;
  padding: 0;
}

.btn-img {
  width: 35px;
  margin-left: -5px;
}

.btn-primary {
  color: #111;
  background: rgb(99,213,60);
  background: linear-gradient(270deg, rgba(99,213,60,1) 0%, rgba(192,244,55,1) 100%);
}

.btn-secondary {
  color: #90e43a;
  background-color: #333;
}

.btn-tertiary {
  color: #111;
  background-color: rgba(255, 255, 255, 0.3);
}

.btn-provider {
  color: #fafafa;
  background-color: #333;
}

.btn-secondary:hover,
.btn-provider:hover
 {
  background-color: #393939;
}

.btn-tertiary:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.btn-icon {
  margin-left: 0.5em;
  display: none;
}

.btn:hover .btn-icon{
  display: inline-block;
}

.btn-small {
  display: flex;
  align-items: center;
  height: 40px;
  min-width: 40px;
  width: fit-content;
  margin: 0;
}

.btn-close {
  color: #fafafa;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 0 10px 0 5px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.btn-close:hover {
  background: rgba(255, 255, 255, 0.15);
}

/* Utility */
.flex-space {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.grid-2-col {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.bold {
  font-weight: 600;
}

.white {
  color: #ffffff;
}

.search-bar {
  width: 80svw;
  height: 32px;
  background: #111;
  border: 1px solid #444;
  border-radius: 16px;
}